/* 
body, html {
  background-color:#EBECF0;
}

body, p, .input, select, textarea, .button {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: -0.2px;
    font-size: 16px;
}

div, p {
  color: #BABECC;
  text-shadow: 1px 1px 1px #FFF;
}


form {
  padding: 16px;
  width: 320px;
  margin: 0 auto;
}

.segment {
  padding: 32px 0;
  text-align: center;
}

.button, .input {
  border: 0;
  outline: 0;
  font-size: 16px;
  border-radius: 320px;
  padding: 16px;
  background-color:#EBECF0;
  text-shadow: 1px 1px 0 #FFF;
}

label {
  display: block;
  margin-bottom: 24px;
  width: 100%;
}

.input {
  margin-right: 8px;
  box-shadow:  inset 2px 2px 5px #BABECC, inset -5px -5px 10px #FFF;
  width: 100%;
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
  appearance: none;
  -webkit-appearance: none;

  &:focus {
    box-shadow:  inset 1px 1px 2px #BABECC, inset -1px -1px 2px #FFF;
  }
}

.button {
  color:#61677C;
  font-weight: bold;
  box-shadow: -5px -5px 20px #FFF,  5px 5px 20px #BABECC;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  font-weight: 600;
  
  &:hover {
    box-shadow: -2px -2px 5px #FFF, 2px 2px 5px #BABECC;
  }
  
  &:active {
    box-shadow: inset 1px 1px 2px #BABECC, inset -1px -1px 2px #FFF;
  }
  
  .icon {
    margin-right: 8px;
  }
  
  &.unit {
    border-radius: 8px;
    line-height: 0;
    width: 48px;
    height: 48px;
    display:inline-flex;
    justify-content: center;
    align-items:center;
    margin: 0 8px;
    font-size: 16px*1.2;
    
    .icon {
      margin-right: 0; 
    }
  }
  
  &.red {
    display: block;
    width: 100%;
    color:#AE1100;
  }
}

.input-group {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  
  label {
    margin: 0;
    flex: 1;
    }
    } */
    

body, html {
  background-color:#191919;
}


body, p, .input, select, textarea, .button {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: -0.2px;
    font-size: 16px;
}

a:hover{
  color: white;
}


form {
  padding: 16px;
  width: 80%;
  margin: 0 auto;
}

.segment {
  padding: 32px 0;
  text-align: center;
}

.button, .input {
  border: 0;
  outline: 0;
  font-size: 16px;
  border-radius: 70px;
  padding: 16px;
  background-color:#38393b;
  text-shadow: 1px 1px 0 #2a2a2a;
}

label {
  display: block;
  margin-bottom: 24px;
  width: 100%;
}

.input {
  color: #cfcfcf;
  margin-right: 8px;
  box-shadow:  inset 2px 2px 5px #2b2b2c, inset -5px -5px 10px #2f2d2d;
  width: 100%;
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
  appearance: none;
  text-align: right;
  -webkit-appearance: none;

  &:focus {
    box-shadow:  inset 1px 1px 2px #323131, inset -1px -1px 2px #393838;
  }
}

.button {
  color:#23252b;
  font-weight: bold;
  box-shadow: -5px -5px 20px #131313,  5px 5px 20px #242425;
  transition: all 0.2s ease-in-out;
  font-weight: 600;
  
  &:hover {
    box-shadow: -2px -2px 5px #282828, 2px 2px 5px #2d2d2e;
  }
  
  &:active {
    box-shadow: inset 1px 1px 1px #363739, inset -1px -1px 1px #323334;
  }

  &:disabled{
    box-shadow: inset 1px 1px 1px #363739, inset -1px -1px 1px #323334;
  }
  
  .icon {
    margin-right: 8px;
  }
  
  &.unit {
    border-radius: 8px;
    line-height: 0;
    width: 48px;
    height: 48px;
    display:inline-flex;
    justify-content: center;
    align-items:center;
    margin: 0 8px;
    font-size: 16px*1.2;
    
    .icon {
      margin-right: 0; 
    }
  }
  
  &.red {
    margin-top: 50px;
    display: block;
    width: 100%;
    color:#803ab3d4;
  }
  &.red-small{
    width: 50%;
    margin: 0 25%;
    margin-top: 50px;
    display: block;
    color:#803ab3d4;
  }
}


.input-group {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  
  label {
    margin: 0;
    flex: 1 1;
  }
}

.select-multiple{
  height: 150px;
}

option{
  text-align: center;
}

option:checked{
  border-radius: 8px;
  color: #ffffff !important;
  background-color: #282829 !important;
}

.custom-checkbox {
  margin: 10px;
  height: 20px;
  width: 20px;
}

.checkbox-field{
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
}
.label-checkbox{
  width: 50%;
}

.form-small{
  width: 400px;
}


@media (max-width: 520px) {
  form {
    width: 250px;
  }
  .form-small{
    width: 85%;
  }
  .label-checkbox{
    width: 95%;
  }
}