.searchbar{
    margin-bottom: auto;
    margin-top: auto;
    height: 60px;
    background-color: #353b48;
    border-radius: 30px;
    padding: 10px;
    display: flex;
    flex-direction: row;
}

.search_input{
    padding: 0;
    color: white;
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    caret-color:transparent;
    line-height: 40px;
    transition: width 0.4s linear 1s, padding 0.4s linear 1s;
}

.searchbar:hover > .search_input{
    padding: 0 10px;
    width: 120px;
    caret-color:red;
    transition: width 0.4s linear;
}

.searchbar:hover > .search_icon{
    background: white;
    color: #9844d4bd;
    transition: color 0.4s linear;
}

.search_icon{
    height: 40px;
    width: 40px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    text-decoration:none;
    transition: color 0.4s linear 1s, background-color 0.4s linear 1s;
}


.select_box{
    border: 0;
    display: inline;
    width: 0;
    transition: width 0.6s linear 1s, margin 0.6s linear 1s;
    border-radius: 40px;
    color: #9a22d4;
    margin: 0px;
}


.searchbar:hover > .select_box{
    display: inline;
    width: 130px;
    margin: 0px 2px;
    transition: width 0.4s linear;
}


.option_search{
    border-radius: 40px;
}

@media (min-width: 768px) {
    .searchbar:hover > .search_input{
        width: 220px;
    }
}