.team-img {
  position: relative;
}

.bounding-boxes {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.bounding-box {
  position: absolute;
  border: 2px solid rgba(0, 123, 255, 0.8); /* آبی نیمه‌شفاف */
  background-color: rgba(0, 123, 255, 0.25); /* داخل آبی‌تر */
  border-radius: 4px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 4;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.bounding-box .bbox-label {
  background-color: rgba(0, 123, 255, 0.8);
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  padding: 3px 6px;
  border-bottom-right-radius: 4px;
}

.team-img:hover .bounding-box {
  opacity: 1;
}

.team-social {
  display: flex;
  flex-direction: column;
}

.text-card {
    display: flex;
    flex-direction: column;
}
