.container {
    color: rgb(203, 198, 198);
    text-align: right;
}

.detail-boxes {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
}

.detail-box {
    padding: 10px;
}

.detail-value {
    border-radius: 4px;
    padding: 4px;
    background-color: rgb(202, 189, 234);
    color: rgb(54, 54, 54);
}

.total-comments {
    margin: 10px;
}

.comments {
    background-color: #2f2c35;
    padding: 20px;
    border-radius: 10px;
}

.comment-box {
    display: flex;
}

.comment-box.right {
    justify-content: flex-end;
}

.comment-box.left {
    justify-content: flex-start;
}

.comment {
    padding: 15px;
    border-radius: 10px;
    margin: 20px;
}

.comment.right {
    background-color: #5c4ec6;
    color: white;
    width: 60%;
}

.comment.left {
    background-color: #444660;
    width: 40%;
}

.form-box {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.text-box {
    width: 65%;
}

.file-box {
    width: 35%;
    text-align: right;
}

.form-control {
    height: none;
    padding: .275rem .5rem;
    text-align: right;
}

.btn-primary {
    margin-right: 20px;
}


.add-ticket {
    text-align: right;
    padding: 60px 10%;
}


.ticket-form {
    padding: 30px;
    background-color: #f9fbff;
    border-radius: 20px;
    margin-top: 30px;
    box-shadow: 8px 8px 25px 1px #00000054;
}

.ticket-box {
    flex-direction: column;
    align-items: flex-end;
}

.select-box {
    display: flex;
    width: 40%;
}

.select-detail {
    text-align: right;
    display: flex;
    padding: 10px 0px 1px 40px;
    width: 50%;
    flex-direction: column;
}

.select-detail select {
    word-wrap: normal;
    text-align: right;
    padding-right: 5px;
    width: 80%;
    align-self: flex-end;
}

.select-detail option {
    border-radius: 10px;
}


.text-box.title,
.text-box.context {
    width: 85%;
    padding: 10px 0;
    text-align: right;
}

.text-box.context input {
    height: 160px;
}

.text{
    padding-right: 13px;
}

.date{
    text-align: left;
}

.closing-ticket {
    padding: 10px;
    display: flex;
    justify-content: flex-start;
}

.closing-ticket button {
    border-radius: 5px;
    border: 0;
    background-color: #e73838;
    padding: 5px 10px;
    color: white;
    font-size: large;

}
.closing-ticket button:hover {
    background-color: #b83030;
}

.input-text{
    background-color: #353040;
    text-shadow: 1px 1px 0 #2a2a2a;
    color: #cfcfcf;
    box-shadow: inset 2px 2px 5px #202020, inset -5px -5px 10px #2f2d2d;
    direction: rtl;
    &:focus {
        box-shadow: inset 1px 1px 2px #252525, inset -1px -1px 2px #2e2e2f;
    }
}

.button-text{
    display: initial !important;
    width: 50% !important;
    background-color: #2f2c35 !important;
}

.item-comment{
    display: flex;
    flex-direction: row-reverse;
    padding-bottom: 20px;
}

.text-comment{
    display: flex;
    flex-direction: column;
    border-radius: 20px 0 0 20px;
}

.shadow-comment{
    display: flex;
    flex-direction: column;
}

.img-comment::after {
    border-radius: 0 20px 20px 0;
}

.image-comment{
    height: 250px;
    border-radius: 0px 20px 20px 0;
}

.images{
    display: flex;
    padding-bottom: 20px;
}
.image{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}


@media (max-width: 630px) {
    .col-lg-12{
        padding: 0;
    }
    .container{
        padding: 0;
    }

    .comments {
        padding: 15px;
    }

    .comment {
        margin: 10px;
    }

    .file-box {
        width: 65%;
    }

    .add-ticket {
        text-align: right;
        padding: 60px 8%;
    }

    .ticket-form {
        padding: 15px;
    }

    .select-box {
        width: 80%;
    }

    .text-box {
        width: 90%;
    }

    .select-detail select {
        width: 100%;
    }
    .comment.left{
        width: 60%;
    }
    .comment.right{
        width: 70%;
    }

    .item-comment{
        flex-direction: column;
    }
    .text-comment{
        border-radius: 0 0 20px 20px;
    }
    .img-comment::after {
        border-radius: 20px 20px 0 0;
    }
    .image-comment{
        border-radius: 20px 20px 0 0;
    }
    .images{
        flex-direction: column;
    }
}